@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden;
    font-family: 'Libertinus Serif', sans-serif;
}

header {
    background-color: rgb(5, 102, 53);
    color: white;
    padding: 25px 14px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-bottom: 6px solid rgba(98, 194, 43, 0.35);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

header p {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.citacao {
    background-color: rgb(5, 102, 53);
    color: white; 
    padding: 30px;
    border-radius: 18px;
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
    font-size: 20px; 
    line-height: 1.6;
    font-weight: 600;
    font-style: italic;
    box-shadow: 0 0 0 5px rgba(98,194,43, 0.35);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 400;
    gap: 5px;
}

li {
    float: none;
}

li a {
    display: block; 
    color: white; 
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: 'Libertinus Serif', sans-serif;
    white-space: nowrap;
}

li a:hover {
    background-color:blue;
    border-radius: 110%;
}

.entrevista {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
   column-count: 2;
   column-gap: 60px;
}

.entrevista h4 {
    break-before: avoid;
    margin-top: 25px;
    font-size: 18px;
}

.entrevista p {
    text-align: justify;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(5, 102, 53);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    width: 100%;
    border-top: 6px solid rgba(98, 194, 43, 0.35);
    font-family: 'Libertinus Serif', sans-serif;
}

footer p {
    font-size: 1rem;
}


