@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    font-family: "Libertinus Serif", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
    background-color: rgb(255, 255, 255);
}

header {
    background-color: rgb(5, 102, 53);
    color: white;
    padding: 25px 14px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-bottom: 6px solid rgba(98, 194, 43, 0.35);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

main {
    flex: 1;
    padding: 32px 16px;
    margin: 0 auto;
    width: 100%;
}

#conteudo-site {
    background-color: rgb(5, 102, 53);
    color: white;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 0 0 5px rgba(98, 194, 43, 0.35);
}

#conteudo-site img.banner {
    max-width: 100%;
    width: 600px; 
    height: auto;
    display: block;
    margin: 20px auto;
    margin-top: 30px;
    border-radius: 10px;
}

.legenda {
    margin-top: 4px;
    font-style: italic;
}

.listar-conteudo {
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.listar-conteudo li {
    background-color: rgb(3, 41, 22);
    padding: 8px 12px;
    border-left: 4px solid white;
    border-radius: 16px;
    font-size: 16px;
    min-width: 180px;
    text-align: center;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover {
    background-color: rgba(98, 194, 43, 0.35);
    transform: translateX(5px);
    transition: all 0.3s ease;
}

#medicina {
    background-color: rgb(5, 102, 53);
    color: white;
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    font-size: large;
    box-shadow: 0 0 0 5px rgba(98, 194, 43, 0.35);
}

footer {
    background-color: rgb(5, 102, 53);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    width: 100%;
    border-top: 6px solid rgba(98, 194, 43, 0.35);
}

footer p {
    font-size: 1rem;
}

