@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/* RESET DO CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libertinus Serif", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: rgb(5, 102, 53);
    color: white;
    padding: 25px 14px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-bottom: 6px solid rgba(98, 194, 43, 0.35);
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

header nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.topnav a {
    color: white; 
    text-decoration: none;
    font-weight: 600;
    margin:0 10px;
}

header p {
    margin-bottom:15px;
    font-size: 1.5rem;
}

#conteudo-site, 
#sobre-medica, #curiosidades {
    background-color: rgb(5, 102, 53);
    color: white; 
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 0 0 5px rgba(98,194,43, 0.35);
    font-size: 18px;
}

footer {
    background-color: rgb(5, 102, 53);
    color: white; 
    text-align: center;
    padding: 2rem 1rem;
    padding: 2rem 1rem;
    border-top: 6px solid rgba(98, 194, 43, 0.35);
}